html,
body, #chat {
  height: 100%;
}

#sendButton{
  position: absolute;
    right: 7px;
    height: 40px;
    padding: 0;
    width: 40px;
    align-items: center;
    display: flex;
    background-position: top;
    top: 6px;
    border-radius: 50px;
}
#sendInput{
  border-radius: 50px;
  padding: 10px !important;
}
#sendForm{
  position: relative;
  border-radius: 50px !important;
  padding: .25rem !important;
}
#sendLogo{
  position: relative;
  top: 1px;
  right: 1px;

}