html,
body,
#chat {
  height: 100%;
}

nav {
  height: 40px;
}

#chat {
  height: calc(100% - 40px);
}

#sendButton {
  position: absolute;
  right: 7px;
  height: 40px;
  padding: 0;
  width: 40px;
  align-items: center;
  display: flex;
  background-position: top;
  top: 6px;
  border-radius: 50px;
}

#sendInput {
  border-radius: 50px;
  padding: 10px 50px 10px 50px !important;
}

#sendForm {
  position: relative;
  border-radius: 50px !important;
  padding: .25rem !important;
}

#sendLogo {
  position: relative;
  top: 1px;
  right: 1px;
}

#emojiButton {
  color: #808080;
  align-items: center;
  background-position: top;
  border-radius: 50px;
  display: flex;
  height: 40px;
  padding: 0;
  position: absolute;
  left: 13px;
  top: 6px;
  width: 30px;
  cursor: pointer;
}

#emojiButton:hover {
  color: #676767;
}

.EmojiPickerReact {
  position: absolute !important;
  bottom: 55px;
}

.channelName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  padding-right: 15px;
  border-radius: 10px;
}

.channelName:hover {
  background-color: #90909033 !important;
}

.channelName.btn-secondary:hover {
  background-color: #5b6166 !important;
}

.channelName:hover + .dropdown,
.channelName.btn-secondary + .dropdown,
.dropdown:hover  {
  display: unset !important;
}

.nav-item .dropdown-toggle {
  color: #c7c7c7 !important;
  padding: 5px;
}

.nav-item .dropdown {
  position: absolute;
  display: none;
  right: 5px;
  top: 3px;
}

#messages-box {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 5px 20px;
  position: relative;
  transition: .2s;
  background: #e5e5ea;
  width: fit-content;
  margin: 13px 20px;
  position: relative;
  border-radius: 15px 15px 15px 1px;
  margin-left: 20px;
  padding: 7px 12px;
  max-width: 50%;
}

.fromMe {
  border-radius: 15px 15px 1px 15px;
  background-color: #248bf5;
  color: #ffff;
  align-self: end;
  margin-right: 20px;
}

.fromMe > .usernameBlock {
  left: unset !important;
  right: 3px;
}

.innerMessage {
  display: flex;
  flex-direction: column;
}

.usernameBlock {
  position: absolute;
  bottom: -18px;
  color: gray;
  left: 3px;
  font-size: 12px;
}

.messageTime {
  font-size: 10px;
  text-align: right;
  margin-left: 10px;
  text-wrap: nowrap;
  position: relative;
  top: 3px;
}

.message.editing {
  background-color: #dfecff;
}

.message form {
  width: 100%;
  background-color: #dfecff;
}

.message form button+button {
  margin-left: 7px;
}

.messageOptionsHandler {
  align-items: center;
  height: 100%;
  display: none;
  justify-content: space-between;
  position: absolute;
  width: 65px;
  bottom: 0px;
  padding: 0 10px;
  z-index: 2;
}

.messageOptionsHandler:hover {
  display: flex;
}

.message:hover .messageOptionsHandler {
  display: flex;
}

.messageOptionsHandler.rightOptions {
  right: -60px
}

.messageOptionsHandler.leftOptions {
  left: -60px
}

.messageOption {
  transition: 0.2s;
  color: #b3b3b3;
  cursor: pointer;
}